@use "../../styles/init/_variables.scss" as vars;
@use "../../styles/init/_mixins.scss" as mixins;

body {
  margin-top: vars.$eightypx;
}
.Header {
  position: fixed;
  inset: 0;
  width: 100%;
  height: vars.$eightypx;
  background: var(--white);
  box-shadow: 0 2px 4px #0000001a;
  z-index: 2;

  .container-zone {
    @include mixins.section-padding-inline;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: vars.$fiftypx;

    .logo {
      width: calc(vars.$hundredpx * 1.5);
      object-fit: contain;
    }

    nav {
      margin-left: auto;
      ul {
        display: flex;
        li {
          a {
            background: var(--color2);
            padding: vars.$tenpx vars.$thirtypx;
            border-radius: calc(vars.$thirteenpx / 2);
            color: var(--white);
            transition: 0.3s ease;
            &:hover {
              background: color-mix(in srgb, var(--color2), var(--white) 10%);
            }
            &:active {
              background: var(--color2);
            }
            &.active {
              display: none;
            }
          }
        }
      }
      &.hidden {
        display: none;
      }
    }
    .LinkButton {
      margin-left: auto;
    }
  }
}
