@use "../../styles/init/_variables.scss" as vars;

.Footer {
  height: vars.$fiftypx;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
  margin-top: vars.$eightypx;
  padding: vars.$fourtypx;
}
